:root{
    --main: #111D5E;
    --sec: #C70039;
    --tre: #F37121;
    --qua:#C0E218;

}

.main{
    background-color: var(--main);
}

.tre{
    color:var(--tre);
}

*{
    font-family: 'Asap Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color:var(--main)
}

.title{
    font-size: 80px;
    color: var(--tre) !important;
}


.navbar{
    background-color: var(--main) !important;
}
    .nav-link{
        color: var(--tre)!important;
        transition: all 0.4s;
    
    }
    .nav-link:hover{
        color: var(--tre)!important;
        transform: scale(1.1);
    }

.card-custom{
    border-radius: 20px;
    border:var(--tre) solid 0.5px;
}

.text-img{
    background-color: rgba(70, 53, 53, 0.699);
    border-radius: 5px;
}

.link-cat{
    color: var(--tre)!important;
    text-decoration: none;
    
}

.link-cat:hover{
   color: var(--tre)!important;
    text-decoration: none;
    

}

.btn-custom{
    background-color: var(--main);
    color:var(--tre);
}

.btn-custom:hover{
    background-color: var(--main);
    color:var(--tre);
}

.masthead {
    height: 80vh;
    min-height: 500px;
    background-image:url(/img/pianetino.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.border-footer {
    border-bottom: 2px solid ;
    border-bottom-color:  linear-gradient(90deg, rgba(255,255,255,0.7203256302521008) 0%, rgba(255,149,0,1) 50%, rgba(255,255,255,0.7455357142857143) 100%); 
    
}

.subTitle {
    color: var(--tre);
    font-size: 40px;
}

.subsubTitle {
    color: var(--main);
    font-size: 40px;
}

.subTitle:hover {
    color: var(--tre);
    font-size: 40px;
    transition: all 0.4s;
}

.cat{
    margin-top:300px !important;
}

@media screen and (max-width: 768px){
    .cat{
        margin-top: 3px !important;
    }
}

.flag-icon-it {
    background-image: url(/img-flag-icon/italy.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    color: transparent!important;
    
}

.flag-icon-en {
    background-image: url(/img-flag-icon/united-kingdom.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    color: transparent!important;
}

.flag-icon-es {
    background-image: url(/img-flag-icon/spain.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    color: transparent!important;
}
/* PROVA CAT */

.hover{
    transition: all 0.4s;
}
.hover:hover{
    transform: scale(1.02);
    
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.31); 
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.31);
}
  