:root{
    --main: #111D5E;
    --sec: #C70039;
    --tre: #F37121;
    --qua:#C0E218;

}

*{
    font-family: 'Asap Condensed', sans-serif;
}

h1{
    font-size: 80px;
}
.navbar{
    background-color: var(--main) !important;
    
}
.nav-link{
    color: var(--tre)!important;

}




.text-img{
    background-color: rgba(70, 53, 53, 0.699);
    border-radius: 5px;
}

.link-cat{
    color: var(--tre)!important;
    text-decoration: none;
}

.link-cat:hover{
   color: var(--tre)!important;
    text-decoration: none;
}

.btn-custom{
    background-color: var(--main);
    color:var(--tre);
}

.btn-custom:hover{
    background-color: var(--main);
    color:var(--tre);
}

.masthead {
    height: 80vh;
    min-height: 500px;
    background-image:url(/img/sell.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .image-h{
      height: 600px;
  }

  .carousel-custom{
      border:none !important;
  }
