:root{
    --main: rgba(255, 0, 0, 0.199);
    --sec: rgba(235, 174, 44, 0.849);
}

*{
    font-family: 'Asap Condensed', sans-serif;
}

.ins-ann{
    background-color: rgba(255, 0, 0, 0.199);
    border-radius: 5px;
}

.annunci{
    background-color: rgba(0, 109, 0, 0.199);
    border-radius: 5px;
}

.registrati{
    background-color: rgba(255, 217, 0, 0.404);
    border-radius: 5px;
}

.login{
    background-color: rgba(0, 102, 255, 0.199);
    border-radius: 5px;
}

.text-img{
    background-color: rgba(70, 53, 53, 0.699);
    border-radius: 5px;
}

.link-cat{
    color: white;
    text-decoration: none;
}

.link-cat:hover{
    color: white;
    text-decoration: none;
}

.btn-custom{
    background-color: rgba(235, 174, 44, 0.849);
}

/* footer */
.border-footer {
    border-bottom: 2px solid ;
    border-bottom-color:  linear-gradient(90deg, rgba(255,255,255,0.7203256302521008) 0%, rgba(255,149,0,1) 50%, rgba(255,255,255,0.7455357142857143) 100%); 
    
}

.border-footer {
    border-bottom: 2px solid ;
    border-bottom-color:  linear-gradient(90deg, rgba(255,255,255,0.7203256302521008) 0%, rgba(255,149,0,1) 50%, rgba(255,255,255,0.7455357142857143) 100%); 
    
}

.ft-colleck-col {
    color: white;
}


.fs-footer {
    font-size: 16px;
}
